



@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,400i,500,700');

$font-raleway: 'Raleway', sans-serif;
$font: 15px;


$gray: #ccc;
$blue: #3683ff;
$red: #ff6851;
$unit: 15px;
