@import "_normalize";
@import "_vars";
@import "_mixins";
@import "components/index";

body{
  font-family: $font-raleway;
  font-size: $font;
  opacity: 1;
  transition:all 1s;
}
input, textarea, select, button{
  font-family: $font-raleway;
}
.loading{
  opacity: 0;
  background-color: #fff;
}